[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
web3 = "*"
flask-talisman = "*"

[dev-packages]

[requires]
python_version = "3.8"
